@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  background-color: #1a1a8b;
  border: 1px solid white;
  color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("img/bgPic.jpg");
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.header h4 {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
  transition: 1s;
  font-family:cursive;
}
.app-main {
  border: 1px solid #fff;
  min-height: 10vh;
  width: 30vw;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 15px;
  background-color:  rgba(0, 0, 0, 0.4);
  }
  .app-main > * {
    margin-bottom: 20px;
  }
  .input-box {
    width: 100%;
    background: transparent;
    transition: 0.7s ;
    color: #fff;
    font-weight: 500;
    border:1px solid #fff ;
    font-size: 1.7rem;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.weather-body {
  color: #fff;
  padding: 20px;
  line-height: 2rem;
  border-radius: 10px;
  background-color: #eff1f3;
  display: none;
  background:transparent;
}
.location-deatils {
  font-weight: bold;
}
.weather-status {
  padding: 20px;
}
.temp {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px 0px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.1);
  
}
.weather {
  margin-top: 25px;
  font-size: 2rem;
  margin-bottom: 10px;
}
.min-max {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 15px;
}

.day_details {
  padding: 20px;
}
.sun-detail,
.basic {
  font-size: 1rem;
}
#weather-icon {
  color: black;
}

::placeholder {
  color: #fff;
}
.bgC{
  border-bottom: 1px solid #fff;
}
#co{
  display: inline-block;
  color: #fff;
  margin-bottom: 0;
  font-size: xx-large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-back{
  background-color:  rgba(0, 0, 0, 0.4) !important;
}
::-webkit-scrollbar{
  width: 4px;
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track{
  border-radius: 0;
  background: #eeeeee;
}
::-webkit-scrollbar-thumb{
  border-radius: 0;
  background: #01082c;
}

@media screen and (max-width: 800px) {
  .app-main {
    width: 96%;
    padding: 10px;
    transition: 0.7s;
  }
}
@media (min-width: 820px) and (max-width: 1180px) {
  .app-main{
   width: 700px;
  }
 }
 @media (min-width: 1200px) and (max-width: 1380px) {
  .app-main{
   width: 700px;
  }
 }